/* allow Font-Awesome icons to be mirrored automatically in LTR mode by classing them with "fa fa-dir-flip" */
[dir=ltr].fa-dir-flip .fa.fa-flip-horizontal,
[dir=rtl].fa-dir-flip .fa,
[dir=rtl] .fa.fa-dir-flip {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
[dir=rtl].fa-dir-flip .fa-flip-horizontal,
[dir=ltr].fa-dir-flip .fa,
[dir=ltr] .fa.fa-dir-flip {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=0);
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
:not([dir=rtl]) [dir=ltr] .fa.fa-dir-flip {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=0)!important;
  -webkit-transform: scale(1, 1)!important;
      -ms-transform: scale(1, 1)!important;
          transform: scale(1, 1)!important;
}

:not([dir=ltr]) [dir=rtl] .fa.fa-dir-flip {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)!important;
  -webkit-transform: scale(-1, 1)!important;
      -ms-transform: scale(-1, 1)!important;
          transform: scale(-1, 1)!important;
}

/* Paygate CSS */

.paygate .info-explain {
	font-size: 13pt;
	border: solid lightgray 2px;
	background-color: #f9f9f9;
	padding: .5em;
	margin: .5em 0;
	width: 80%;
}

.paygate .info-explain p:first-child {
	margin-top: 0;
}
.paygate .info-explain p:last-child {
	margin-bottom: 0;;
}

.paygate .info-explain p {
	font-size: 13pt;
}

.paygate .icon-button {
	color: inherit !important;
	background: transparent;
	margin: 0;
	padding: .1em;
	cursor: pointer;
	text-decoration: none !important;
	border: none;
}

.paygate form button {
	font-size: 13pt;
}

.paygate i.fas {
	font-size: 16pt;
}

.paygate table button, .paygate-registrations table button {
	border: 0;
	background: transparent;
	margin: 0;
	padding: .1em;
	cursor: pointer;
	border: solid lightgray 1px;
}

.paygate dialog {
	border: solid gray 1px;
	border-radius: 5px;
	filter: drop-shadow(3px 3px 7px #666);
	padding: 1em;
	min-width: 30%;
	min-height: 5em;
}

.paygate table {
	direction: var(--paygate-admin-direction, ltr);
	width: 80%;
	border-collapse: collapse;
	font-size: 13pt;
}

.paygate table input[type="number"] {
	width: 6em;
	font-size: 10pt;
}

.paygate table.internal {
	width: auto;
}

.paygate table thead tr {
	border: solid black;
	border-width: 0 0 1px 0;
}

.paygate table.internal thead tr {
	border: 0;
}

.paygate table tbody tr {
	border: solid black;
	border-width: 1px 0;
}

.paygate table.internal tbody tr {
	border: 0;
}

.paygate table th, .paygate table td {
	text-align: start;
	border: solid gray;
	border-width: 0 1px 0 0;
	padding: .2em;
	padding-inline-start: .5em;
	vertical-align: text-top;
}

.paygate table.internal th, .paygate table.internal td {
	border: 0;
	padding: 0 .3em;
}

.paygate .info-notice {
	background-color: #ddd;
	color: #333;
	border: solid lightblue 1px;
	border-radius: 2px;
	padding: .3em;
}

.paygate form label span {
	min-width: 6em;
	display: inline-block;
	margin-inline-start: 1em;
	font-size: 13pt;
}
.paygate form label:first-child span {
	margin-inline-start: 0em;
}

.paygate table tr.paygate-roomlist, tr.paygate table .paygate-roomlist td {
	border-bottom: none;
	border-top: none;
}
.paygate table .paygate-roomlist-final {
	border-top: none;
}

.paygate table p, .paygate-registrations table p {
	margin: 0;
}

.paygate table dialog p {
	margin: revert;
}

div.paygate-registrations div.payer-details {
	position: absolute;
	display: none;
	border: solid gray 2px;
	background: lightyellow;
	min-width: 30em;
}

div.paygate-registrations button.pager-first::before {
	content: "<<";
}

div.paygate-registrations button.pager-prev::before {
	content: "<";
}

div.paygate-registrations button.pager-next::before {
	content: ">";
}

div.paygate-registrations button.pager-last::before {
	content: ">>";
}
